node_modules/
.env
dist/
build/
target/
*.log
*.class
*.jar
.DS_Store
.idea/
*.iml
server/uploads/profile-images/*
server/uploads/resumes/*
server/uploads/payslips/*
!server/uploads/profile-images/.gitkeep
!server/uploads/resumes/.gitkeep
!server/uploads/payslips/.gitkeep
logs/*.log
!logs/.gitkeep
server/.env
client/.env
database pasword
